<div class="form-container">
    <h1 class="login-label">Login Here</h1>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm">
        <div class="container">    
          <div class="form-group">
          <label for="username"><b>Username</b></label>
          <input type="text" class="form-control" placeholder="Enter Username" name="username" #username="ngModel" required [(ngModel)]="email" pattern="[a-zA-Z][^,.\\/^]{0,8}" [ngClass]="{ 'is-invalid': (f.submitted && username.invalid) || (username.invalid && (username.dirty || username.touched)) }">
          <div *ngIf="(f.submitted && username.invalid) || (username.invalid && (username.dirty || username.touched))" class="invalid-feedback">
              <div *ngIf="username.errors.required">*User Name is required</div>
              <div *ngIf="username.errors.pattern">*User Name should start with alphabet and not contain(.,/\^)</div>
          </div>
        </div>

        <div class="form-group">
            <label for="psw"><b>Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Password" name="psw" #psw="ngModel" required [(ngModel)]="password" pattern="[^,.\\/^]{0,8}" [ngClass]="{ 'is-invalid': (f.submitted && psw.invalid) || (psw.invalid && (psw.dirty || psw.touched)) }">
            <div *ngIf="(f.submitted && psw.invalid) || (psw.invalid && (psw.dirty || psw.touched))" class="invalid-feedback">
                    <div *ngIf="psw.errors.required">*Password is required</div>
                    <div *ngIf="psw.errors.pattern">*Password should not contain(.,/\^)</div>
            </div>
        </div>

        <div class="form-group login-loading">
            <button class="login-btn">Login</button>
            <img *ngIf="loading" class="loading-icon" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />      
        </div>
        </div>
    </form>
    <button class="cancelbtn" (click)='previousView()'>Cancel</button>
</div>
